//覆盖一些element-ui样式 覆盖css样式可在这里添加
@import './variables.scss';
@import './mixin.scss';

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
//.el-dialog {
//  transform: none;
//  left: 0;
//  position: relative;
//  margin: 0 auto;
//}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

//---------------------------------------------
.el-main {
  padding: 0;
}

.el-header {
  padding: 0;
  height: auto !important;
}

.el-footer {
  padding: 0;
  height: auto !important;
}

.el-submenu .el-menu-item {
  min-width: 180px !important;
}

.el-menu {
  border-radius: 0px;
  border-right: none;
}

.el-table__body tr.current-row {
  font-weight: bold;
}

.el-table .info-row {
  background: rgba(255, 197, 46, 0.05);
}

.el-table td, .el-table th {
  padding: 10px 0;
}

.el-table thead tr {
  background: #f5f7fa;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
  background-color: #edf7ff;
}

//.el-button.is-plain {
//  border: none;
//}

.el-button+.el-button {
  margin-left: 6px;
}

.el-card.box-card {
  display: flex;
  flex-flow: column nowrap;
}

.el-card_header {
  flex-grow: 1;
}

.el-card__body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

//el-tree相关样式覆盖
.el-tree {
  border: none;
}

.el-tree-node__content {
  border-left: 3px solid transparent;
  height: 36px;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: rgb(237, 247, 255);
  @include al-title-hint;
}

.Resizer.horizontal {
  cursor: ns-resize !important;
}

.Resizer.vertical {
  cursor: ew-resize !important;
}

.el-input__inner {
  padding: 0 5px;
  border-radius: 0;
}

.el-input-number--mini {
  width: auto;
}

.el-input-number.is-without-controls .el-input__inner {
  padding-left: 5px;
  padding-right: 5px;
  //border-radius: 0;
}

.el-color-picker--mini .el-color-picker__trigger {
  width: 48px;
}

.el-cascader__label {
  padding: 0 7px;
}
